extends index.pug

block content
    h3 Are you sure you want to delete this scheme?
        
    h4 - #{label}

    ul
        for question in criticalQuestions
            li #{question}
    p.warning
        | Deleting it will effect how users can interact with existing Arguments that
        | use this scheme. They will no longer have access to the critical questions 
        | used within this scheme.

    for i in id
        div
            a(href='/admin/dashboard/view-argument-schemes') Back
        div
            a(href='/admin/dashboard/scheme/delete/confirm/' + i) Confirm
