extends index.pug

block content
    div This is the dashboard interface

    div
        p Available actions:
        div
            p
                a(href='/admin/dashboard/add-argument-schema') Add argument schema (WIP)
            p
                a(href='#') Moderate content (coming soon!)
            p
                a(href='#') Manage users (coming soon!)