extends index.pug

block content
    div This is the dashboard interface

    div
        p Available actions:
        div
            p
                a(href='/admin/dashboard/add-argument-schemes') Add argument scheme (WIP)
            p
                a(href='/admin/dashboard/view-argument-schemes') Edit schemes
            p
                a(href='#') Manage users (coming soon!)