html
    head
        title Argupedia Admin Panel #{title}

    body
        h2 Welcome to admin services        
        p #{message}
        p
            a(href='/admin/') Home
            #user 
                if user
                    a(href='/admin/logout') Logout
                else 
                    a(href='/admin/login') Login

        block content
