extends index.pug

block content
    style. 
        .action {
            margin: 0 5px 0 5px;
        }
    div.content
        h1.light Updated

        div
            a.action.btn.btn-warning(href='/admin/dashboard/schemes/view') View all schemes
